site_name: mhc Documentation
theme:
  name: material
  palette:
    scheme: slate
    primary: indigo
    accent: indigo

nav:
  - Home: index.md
  - Core Concepts: concepts.md
  - API Reference: api.md

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths:
            - .

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
