name: Deploy Documentation

on:
  push:
    branches:
      - main  # Trigger only when pushing to main

permissions:
  contents: write  # Needed to push the built docs to the gh-pages branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed for mkdocs-git-revision-date-localized-plugin

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --all-extras
          uv pip install mkdocs-material mkdocstrings[python] mkdocs-git-revision-date-localized-plugin

      - name: Deploy to GitHub Pages
        run: |
          uv run mkdocs gh-deploy --force
